/***************************
 * COLORS
 * ************************/
:host,
:root {
  --ESNG-color-transparent: transparent;
  --ESNG-color-white-0: white;
  --ESNG-color-white-1: #FFFFE1;
  --ESNG-color-yellow-0: yellow;
  --ESNG-color-yellow-1: #FBEAA0;
  --ESNG-color-blue-0: lightblue;
  --ESNG-color-blue-1: blue;
  --ESNG-color-green-0: lightgreen;
  --ESNG-color-green-1: green;
  --ESNG-color-red-0: #F66;
  --ESNG-color-red-1: red;
  --ESNG-color-grey-0: grey;
  --ESNG-color-grey-1: #404040;
  --ESNG-color-purple: purple;
  --ESNG-color-black: black;
}

/***************************
 * LIGHT THEME
 * ************************/
:host,
:root {
  --ESNG-overlay-background-0: var(--ESNG-color-transparent);
  --ESNG-overlay-background-1: var(--ESNG-color-yellow-1);

  --ESNG-overlay-color-0: var(--ESNG-color-blue-1);
  --ESNG-overlay-color-1: var(--ESNG-color-green-1);
  --ESNG-overlay-color-2: var(--ESNG-color-blue-1);
  --ESNG-overlay-color-3: var(--ESNG-color-purple);
  --ESNG-overlay-color-4: var(--ESNG-color-red-0);
  --ESNG-overlay-color-5: var(--ESNG-color-white-1);
  --ESNG-overlay-color-6: var(--ESNG-color-grey-0);
  --ESNG-overlay-color-7: var(--ESNG-color-green-1);
  --ESNG-overlay-color-8: var(--ESNG-color-black);

  --ESNG-overlay-border-0: var(--ESNG-color-red-1);
}

/***************************
 * DARK THEME
 * ************************/
@media (prefers-color-scheme: dark) {
  :host,
  :root {
  --ESNG-overlay-background-0: var(--ESNG-color-transparent);
  --ESNG-overlay-background-1: var(--ESNG-color-grey-1);

  --ESNG-overlay-color-0: var(--ESNG-color-blue-0);
  --ESNG-overlay-color-1: var(--ESNG-color-green-0);
  --ESNG-overlay-color-2: var(--ESNG-color-white-0);
  --ESNG-overlay-color-3: var(--ESNG-color-yellow-0);
  --ESNG-overlay-color-4: var(--ESNG-color-red-0);
  --ESNG-overlay-color-5: var(--ESNG-color-white-1);
  --ESNG-overlay-color-6: var(--ESNG-color-white-0);
  --ESNG-overlay-color-7: var(--ESNG-color-green-1);
  --ESNG-overlay-color-8: var(--ESNG-color-black);

  --ESNG-overlay-border-0: var(--ESNG-color-red-1);
  }
}

/***************************
 * OVERLAY
 * ************************/
.textlink {
  color: var(--ESNG-overlay-color-0);
  cursor: pointer;
  text-decoration: underline;
}

.abouthead {
  font-weight: bold;
  font-size: large;
}

#expression-search-tooltip.forceInfo {
  background-color: var(--ESNG-overlay-background-1) !important;
  -moz-appearance: none !important;
}

.tooltip-token {
  font-weight: bold;
  color: var(--ESNG-overlay-color-1);
}

.tooltip-info {
  color: var(--ESNG-overlay-color-2);
}

.tooltip-match {
  color: var(--ESNG-overlay-color-3);
}

.tooltip-term {
  color: var(--ESNG-overlay-color-6);
}

.customHeadersShow{
  color: var(--ESNG-overlay-color-6);
}

.expressionsearch_pref_input {
  margin: 0px;
  padding: 0px;
}

/* quick-filter-bar on OSX has a default height 25px, need to hide it when move elements to other places */
#quick-filter-bar.resetHeight {
  /*
  https://developer.mozilla.org/en-US/docs/Web/CSS/initial
  stackoverflow.com/questions/15901030/reset-remove-css-styles-for-element-only
  */
  height: initial; /* is auto */
}

/* make the main bar looks better when placed on menubar/toolbar/tabbar */
#mail-bar3 #quick-filter-bar-main-bar,
#mail-toolbar-menubar2 #quick-filter-bar-main-bar,
#tabs-toolbar #quick-filter-bar-main-bar {
  width: 600px;
  -moz-box-flex: 1;
  flex: 1;
  background-color: var(--overlay-background-0);
  background-image: inherit;
  border: 0 solid var(--overlay-border-0); /* for TB5, force no border */
}

/* fix the result label color issue when placed on menubar/toolbar/tabbar */
#qfb-results-label[filterActive="matches"] {
  color: var(--ESNG-overlay-color-7);
}

#qfb-results-label[filterActive="nomatches"] {
  color: var(--ESNG-overlay-color-4);
}

/* force show or hide button & it's text */
#quick-filter-bar-collapsible-buttons.hidelabel toolbarbutton label.toolbarbutton-text {
  display: none;
}

#quick-filter-bar-collapsible-buttons.hideall, #qfb-filter-bar-spacer.hideall {
  display: none;
}

/* if the width is not enough, make others more flexiable to make my box shown */
#qfb-filter-bar-spacer {
  /* do in ExpressionSearchChrome.jsm based on position */
  margin: 0px !important;
  padding: 0px !important;
}

#qfb-results-label {
  margin: 0px;
  padding: 0px;
  flex: 5 1;
}

#expression-search-textbox {
  flex: 5 1;
}

.titlebar-placeholder {
  flex: 0.1 100;
}

.menuli  {
  border: solid var(--ESNG-overlay-color-8) 1px;
}
